@page
@model Gamebook.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}


    <div class="text-center">
        

        <br /><br />
        <h1>Game</h1><br /><hr /><br /><br />
        <h6>@Html.DisplayFor(m => m.roomText.text)</h6><br /><br /><hr /><br /><br />
        <div class="row">
            @if (Model.linkTexts.Count == 1)
            {
            <div class="col">
                <form asp-page-handler="basement" method="post">
                    <button class="btn btn-dark">Continue into the basement.</button>
                </form>
            </div>
            }
            else if (Model.linkTexts.Count > 1)
            {
                foreach (Model.linkText x in Model.linkTexts)
                {
                    <div class="col">
                        <form asp-page-handler="@x.LinkNumber" method="post">
                            <button class="btn btn-dark">@x.text</button>
                        </form>
                    </div>
                }
            }
            @if (Model.linkTexts.Count == 0)
            {
            <div class="col">
                <a asp-page="./index" class="btn btn-dark">Back to Menu</a>
            </div>
            <div class="col">
                <a asp-page="./Game" class="btn btn-dark">Restart</a>
            </div>
            <div class="col">
                <a asp-page="./achievements" class="btn btn-dark">Achievements</a>
            </div>
            }
        </div>
    </div>
