@page
@model Gamebook.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}
    <div class="text-center">
        <br /><br />
        <h1>Registration</h1>
        <br /><hr />
    </div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.login" class="control-label"></label>
                <input asp-for="user.login" class="form-control" />
                <span asp-validation-for="user.login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.password" class="control-label"></label>
                <input asp-for="user.password" type="password" class="form-control" />
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
<a asp-page="./index" class="btn btn-dark">Back</a>
